nav {
    position: relative;
    float: right;
}

header h1 {
    display: inline-block;
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 2px;
    color: white;
    background-color: green;
    border: 1px solid green;
    border-radius: 10px;
    padding: 2px;
}

nav ul li:hover {
    text-decoration: underline;
    background-color: white;
    color: green;
    cursor: pointer;
}

.menu-strip a img {
    height: 150px;
}

.menu-strip a:hover {
    opacity: 0.5;
}

#image-box {
    width: 95%;
    overflow: hidden;
    display: none;
}

#imageDisplay {
    width: 100%;
}