html *{ /* global overrides*/
    margin: 0;
    background-color: black;
    color: seashell;
    opacity: 0.9;
    font-family: 'Helvetica', serif;
    font-size: 22px;
}

body {
    z-index: 5;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 10;
}

h1 {
    font-size: 26pt;
    background-color: rgba(255, 255, 255, 0);
}

h2 {
    font-size: 22pt;
}

.logo img{
    height: 50px;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding-inline-start: 0;
}

nav li {
    text-align: right;
}

nav li + li {
    padding-left: 20px;
}

nav a {
    color: seashell;
    text-decoration: underline;
}

.mission {
    background-image: url("./images/img-mission-background.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    height: 700px;
    width: 1200px;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    margin-top: 69px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    align-self: center;
}

.box {
    background-color: black;
}

.mission h2, h4 {
    margin: 10px 0;
    text-align: center;
}

.hardbox{
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.hardbox h2, h4 {
    text-align: center;
}

.picflexbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    column-gap: 20px;
}

.picflex img {
    width: 300px;
    height: 200px;
}

.picflex h3 {
    margin: 10px auto;
    text-align: center;
}

.locations-flex {
    background-image: url("./images/img-locations-background.jpg");
    background-position: center;
    background-size: cover;
    width: 1200px;
    height: 500px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    column-gap: 40px;
    
    margin-left: auto;
    margin-right: auto;
}

.locations-flex h2 {
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    bottom: 180px;
    left: 460px;
    font-size: 22pt;
    width: 0;
}

.location{
    display: inline-flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    line-height: 3;
    opacity: 1;
    text-align: center;
}

.contact {
    display: flex;
    flex-flow: column nowrap;
    line-height: 3;
    justify-content: center;
    align-items: center;
    height: 200px;
}

footer h5 {
    margin-left: 20px;
}